body {
    background-image: url("../assets/wood_background.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    color: whitesmoke;}
h1{font-family:Arial, Helvetica, sans-serif;}
h2{font-family: Arial, Helvetica, sans-serif;font-size: 90%}
p{font-family:Georgia, 'Times New Roman', Times, serif;}

.navbar {
    position: absolute; /*this should make it 'sticky' but doesn't work?*/
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    border-radius: 10px;
}

.nav-list__item{
    float:left;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 600px){
    .nav-list__item{
        float:left;
        width: 25%;
        height: 100%;
        box-sizing: border-box;
        padding-top: 11px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 13px;
    }
}

    .navbar a:link{
        color:whitesmoke;
        text-decoration: none;
    }
    .navbar a:visited{
        color:whitesmoke;
    }
    .navbar a:hover{
        color:maroon;
    }
@media screen and (max-width: 600px){
    .navbar{
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 5%;
        background-color: black;
        border-radius: 10px;
        
    }
}

.hide-bullets{
    list-style-type: none;
}

.float-left{
    float: left;
}

.move-down{
    margin-top: 10%;
}

@media screen and (max-width: 600px){
    .move-down{
        margin-top: 20%;
    }
}

.styled-link {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

    .styled-link a:link{
        color:whitesmoke;
    }
    .styled-link a:visited{
        color:whitesmoke;
    }
    .styled-link a:hover {
        color: maroon;
    }

.footer{
    position: fixed;
    bottom: 0;
    width: 20%;
    left: 40%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.title{
    text-align:center;
    margin-top: 80px;
    margin-bottom: 60px;
}

@media screen and (max-width: 600px){
    .title{
        text-align:center;
        margin-top: 20%;
        margin-bottom: 5%;
    }
}

/* HOME PAGE */
.home-content{
    margin-top:10%;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

.home-content p{
    margin:auto;
    max-width:50%;
}

.small-headshot {
    width: 33%;
    height: auto;
    border-radius: 3%;
}
/* PROJECT PAGE */

/* create 3 columns for project page*/

.less-wide{
    max-width: 90%;
    margin:auto;
}

.three-sections{
    float: left;
    width: 33%;
    height: auto;
    margin: auto;
    display: grid;
    place-content: center;
}

@media screen and (max-width: 600px){
    .three-sections{
        width: 100%;
        margin-top:5%;
    }
}

/*insert between column divs to "reset" float*/
.row{
    content: "";
    display: table;
    clear:both;
}

.project-img{
    height: 250px;
    max-width: 90%;
    border-radius: 3%;
    margin: 0 auto;
}

.project-txt{
    max-width: 80%;
    display: inline-block;
    margin: auto;
    text-align: center;
    margin-bottom: 10%;
}

/*CONTACT PAGE*/

.contact-content{
    margin-top:10%;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
}

@media screen and (max-width: 600px){
    .contact-content{
        margin-top:20%;
        width: 80%;
        margin-left:auto;
        margin-right: auto;
    }
}

.mail-img{
    margin-right: 10%;
    margin-bottom: 5%;
    width: 50%;
    height: auto;
    border-radius: 3%;
    float: left;
}

@media screen and (max-width: 600px){
    .mail-img{
        margin-left: 20%;
        margin-bottom: 5%;
        width: 60%;
        height: auto;
        border-radius: 3%;
    }
}

.contact-text{
    text-align: center;
}
@media screen and (max-width: 600px){
    .contact-text{
        float:left;
    }
}


/*ABOUT ME PAGE*/
.bio-body{
    max-width:90%;
    margin:auto;
    text-indent: 30px;
}

.img-right{
    float:right;
    width: 33%;
    margin-left: 10px;
    height: auto;
    border-radius: 3%;
}