body {
    background-image: url("../assets/wood_background.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    color: whitesmoke;}
h1{font-family:Arial, Helvetica, sans-serif;}
h2{font-family: Arial, Helvetica, sans-serif;font-size: 90%}
p{font-family:Georgia, 'Times New Roman', Times, serif;}

.navbar {
    list-style-type: none;
    margin: auto;
    padding: 0;
    position: absolute; /*this should make it 'sticky' but doesn't work?*/
    top: 0;
    width: 100%;
    background-color: black;
}

.nav-list__item{
    float:left;
    width: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

    .navbar a:link{
        color:whitesmoke;
        text-decoration: underline;
    }
    .navbar a:visited{
        color:whitesmoke;
    }
    .navbar a:hover{
        color:maroon;
    }


.hide-bullets{
    list-style-type: none;
}

.float-left{
    float: left;
}

.mail-img{
    margin-right: 10%;
    width: 50%;
    height: auto;
    border-radius: 3%;
    float: left;
}

.move-down{
    margin-top: 10%;
}

.styled-link {
    font-family: Arial, Helvetica, sans-serif;
}

    .styled-link a:link{
        color:whitesmoke;
    }
    .styled-link a:visited{
        color:whitesmoke;
    }
    .styled-link a:hover {
        color: maroon;
    }

.footer{
    position: fixed;
    bottom: 0;
    width: 20%;
    left: 40%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

/* HOME PAGE */
.home-content{
    margin-top:10%;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

.home-content p{
    margin:auto;
    max-width:50%;
}

.small-headshot {
    width: 33%;
    height: auto;
    border-radius: 3%;
}

.title{
    text-align:center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* PROJECT PAGE */

/* create 3 columns for project page*/
.three-sections{
    float: left;
    width: 33%;
    height: auto;
    margin: auto;
    display: grid;
    place-content: center;
}

/*insert between column divs to "reset" float*/
.row{
    content: "";
    display: table;
    clear:both;
}

@media screen and (max-width: 600px){
    .three-sections{
        width: 100%;
        margin-top:5%;
    }
}

.project-img{
    height: 250px;
    max-width: 90%;
    border-radius: 3%;
    margin: 0 auto;
}

.project-txt{
    max-width: 80%;
    display: inline-block;
    margin: auto;
    text-align: center;
    margin-bottom: 10%;
}

.project-link{
    display: grid;
    place-content: center;
}

/*CONTACT PAGE*/

.contact-content{
    margin-top:10%;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
